.archive {
    .page-header {
        text-align: center;
        margin-bottom: 3rem;
        border-bottom: 1px dashed #c8c8c8;
        h1 {
            font-size: 2.4rem;
            letter-spacing: 2px;
        }
        .archive-links {
            margin-bottom: 3rem;
            font-family: 'Novecento Sans Web', sans-serif;
            font-size: 1.2rem;
            a {
                margin: 0 1.5rem;
            }
        }
        .taxonomy-description {
            margin-bottom: 3rem;
        }
    }
    .site-content {
        margin-bottom: 4.5rem;
    } 
}   

.archive-adventure-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .archive-adventure-wrapper {
        width: 49%;
        height: 550px;
        position: relative;
        margin-bottom: 1.5rem;
        overflow: hidden;
        img {
            height: 100%;
            max-width: 155%;
            transform: translate(-15%);
        }
        .adventure-title {
            @include adventure-title-style;
            top: -18px;
            font-size: 3rem;
            margin: 4.5rem 1.5rem;
            &:hover {
			    @include adventure-title-hover;
		    }
        }
        a {
            @include white-button-style;
            margin: 2rem 1.5rem;
            top: 180px;
            &:hover {
                @include green-button-change;
            }
        }
    }
}