/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
	background-image: url(../../images/dark-wood.png);
	color: #FFFFFF;
	font-family: 'Merriweather Web', serif;
	h3 {
		color: #d99054;
		text-transform: uppercase;
		margin-bottom: 0.75rem;
		font-family: 'Novecento Sans Web', sans-serif;
		letter-spacing: 2px;
	}
	a {
		color: #FFFFFF;
		&:hover {
			text-decoration: underline;
		}
	}
	.site-info {
	height: 285px;
		.info-wrapper {
			width: 1120px;
			display: flex;
    		margin: 0 auto;}
		}
		.footer-logo {
			width: 50%;
			margin: 4rem 0;
			img {
				width: 50%;
				margin-left: 16rem;
			}
		}
}

.copyright {
		text-align: center;
		margin: 0;
		padding: 1rem 0;
		text-transform: uppercase;
		font-family: 'Novecento Sans Web', sans-serif;
}

.fa {
		min-width: 1.5rem;
}
	

