/*--------------------------------------------------------------
# Front Homepage
--------------------------------------------------------------*/
.home .site-header {
    @include fixed-white-header;
}

.home-hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.4) 100%), url('../../images/home-hero.jpg') top center no-repeat;
    background-size: cover, cover;
    margin-bottom: 2.4rem;
} 

.home .site-content {
    width: 100%;
    flex-direction: column;
    padding-top: 0; 
    padding-bottom: 4rem;
    .content-area {
        width: 1120px;
        margin: 0 auto;
        h2 {
            font-size: 2.4rem;
            font-weight: 400;
            margin-bottom: 3.3rem;
            letter-spacing: 2px;
        }
    }
}

.home-titles {
    text-align: center;
}

.products-container {
    text-align: center;
    margin-bottom: 4rem;
    .stuff-container {
        display: flex;
        justify-content: space-between;
        .stuff-wrapper {
            width: 23.5%;
            border: 1px solid #e1e1e1;
            border-top-width: 5px;
            padding: 0.75rem;
            padding-bottom: 1.6rem;
            &:hover {
                border-color: #d99054;
            }
            img {
                width: 29.5%;
            }
            p {
                line-height: 1.75rem;
            }
            a {
                font-size: 0.9rem;
                padding: 0.7rem 1.45rem;
                @include green-button-style;
            }
        }
    }
}

.newsfeed-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem; 
}

.latest-wrapper {
    width: 32%;
    border: 1px solid #e1e1e1;
    .product-picture {
        background: #e1e1e1;
        img {
        height: 250px;
        }
    }
    .latest-container {
        padding: 0.75rem;
        height: 160px;
        font-family: 'Novecento Sans Web', sans-serif;
        span {
            font-size: 0.75rem;
            font-family: 'Merriweather Web', serif;
        }
        h3 {
            font-size: 1.3rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            line-height: 1.25;
            margin-bottom: 1.7rem;
        }
        .read-link {
            @include black-button-style;
            &:hover {
               @include green-button-change;
               color: #FFF;
            }
        }
    }
}

.adventure-container {
    margin-bottom: 1.5rem;
    div {
        float: left;
        position: relative;
        overflow: hidden;
        img {
            height: 100%;
            width: auto;
            max-width: none;
        }
        .adventure-title {
		    @include adventure-title-style;
            margin: 0 1.5rem;
            &:hover {
			    @include adventure-title-hover;
		    }
        }
        a {
		    @include white-button-style;
            top: 180px;
            margin: 0 1.5rem;
		    &:hover {
			    @include green-button-change;
		    }
	    }
    }
}

.adventure-container div:first-child {
    border-right: 20px solid #fff;
    width: 555px;
    height: 540px;
    img {
        transform: translate(-15%);
    }
    .adventure-title {
        top: 80px;
		font-size: 3rem;
	}
    a {
		top: 230px;
	}
}

.adventure-container div:nth-child(2) {
    border-bottom: 20px solid #fff;
    width: 565px;
    height: 250px;
    img {
        width: 104%;
        height: auto;
        transform: translate(-4%,-31%);
    }
    .adventure-title {
		top: 35px;
		font-size: 2.4rem;
	}
    a {
		top: 150px;
	}
}

.adventure-container div:nth-child(3), .adventure-container div:last-child {
    width: 282px;
    height: 290px;
    img {
        transform: translate(-14%,0%);
    }
    .adventure-title {
        line-height: 1.5;
        font-size: 1.6rem;
        top: 46px;
    }
}

.adventure-container div:nth-child(3) {
    border-right: 10px solid #fff;
    a {
		top: 180px;
	}
}

.adventure-container div:last-child {
    border-left: 10px solid #fff;
    a {
		top: 145px;
	}
}

.clearfix:before,
.clearfix:after {
  content: " "; 
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.adventures-link-container .adventures-link {
    padding: .75rem 1.5rem;
    font-size: 1.2rem;
    @include green-button-style;
}