/*--------------------------------------------------------------
# Front Homepage
--------------------------------------------------------------*/
.site-description {
	display: none;
}

.home .site-header {
    position: absolute;
    border-bottom: none;
    background: none;
    a, a:visited {
        color: #FFF;
    }
    a:hover {
        color: #f0e4d1;
    }
}

.home .logo {
    background-image: url(../../images/inhabitent-logo-tent-white.svg);
}

.home .site-content {
    width: 100%;
    flex-direction: column;
    padding-top: 0;
    .content-area {
        width: 1120px;
        margin: 0 auto;
        h1 {
            display: none;
        }
    }
}

.newsfeed-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.latest-wrapper {
    width: 355px;
    border: 1px solid #e1e1e1;
    margin: 0;
    padding: 0;
    .product-picture {
        background: #e1e1e1;
    }
    img {
        height: 250px;
    }
}

.home-hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.4) 100%), url('../../images/home-hero.jpg') top center no-repeat;
    background-size: cover, cover;
}  

.stuff-container {
    display: flex;
    justify-content: space-between;
    .stuff-wrapper {
        width: 23%;
        text-align: center;
        border: 1px solid #e1e1e1;
        border-top-width: 5px;
        padding: 1rem 0;
        img {
            width: 28%;
        }
        p {
            padding: 0 0.55rem;
            line-height: 1.75rem;
        }
        a {
            text-transform: uppercase;
            font-family: 'novecentosanswide', 'sans-serif';
            border: 1px solid #248A83;
            background: #248A83;
            color: #FFF;
            padding: 0.5rem 1rem;
        }
    }
}

.products-container {
    text-align: center;
    margin-bottom: 3rem;
}

.newsfeed-container .home-titles {
    text-align: center;
}