/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
	width: 100%;
	height: 3rem;
	position: fixed;
	border-bottom: 1px solid #e1e1e1;
	background: rgba(255,255,255,0.85);
	z-index: 1;
}

.header-container {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 12rem;
	.logo {
		width: 53px;
		height: 34px;
		background-image: url(../../images/inhabitent-logo-tent.svg);
		background-size: 100%;
	}
	nav {
		width: 370px;
	}
	ul {
		display: flex;
		text-transform: uppercase;
	}
}

.menu {
	display: flex;
	justify-content: space-around;
}