/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
	width: 100%;
	padding: 0.5rem 0;
	position: fixed;
	border-bottom: 1px solid #e1e1e1;
	background: rgba(255,255,255,0.85);
	z-index: 1;
}

.fixed-header {
	width: 100%;
	padding: 0.5rem 0;
	position: fixed;
	border-bottom: 1px solid #e1e1e1;
	background: rgba(255,255,255,0.85);
	z-index: 1;
	.site-branding .logo {
		background-image: url(../../images/inhabitent-logo-tent.svg);
	}
	.main-navigation .search-form .fa {
		color: #248a83;
		text-shadow: none;
	}
}

.header-container {
	width: 1120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	.logo {
		width: 50px;
		height: 33px;
		background-image: url(../../images/inhabitent-logo-tent.svg);
		background-size: 100%;
	}
	nav {
		display: flex;
		justify-content: flex-end;
	}
	ul {
		display: flex;
		text-transform: uppercase;
	}
}

.menu {
	display: flex;
	justify-content: space-around;
}


.menu-menu-1-container {
	width: 30.5%;
	font-family: 'Novecento Sans Web', sans-serif;
}

.search-form {
	padding-left: 0.5rem;
	fieldset {
		margin: 0;
		padding: 0;
		border: none;
	}
}

