/*--------------------------------------------------------------
# Journal, Find Us template
--------------------------------------------------------------*/
/* Content area */
.site-content {
	width: 1120px;
	display: flex;
	padding-top: 48px;
	margin: 0 auto;
	font-family: 'merriweather', serif;
	h1, h2 {
		font-family: 'novecentosanswide', sans-serif;
		text-transform: uppercase;
		color: #2f1339;
	}
}

.blog, .page-id-12 {
		.content-area {
		width: 75%;
		border-right: 1px solid #e1e1e1;
		padding-right: 5%;
		padding-top: 40px;
	}
}
/* Journal Page Only */
.blog .entry-header {
	position: relative;
	color: #FFF;
	img {
		height: auto;
		width: 100%;
	}
	.entry-title {
		position: absolute;
		top: 2rem;
		background-color: #248A83;
		font-size: 2rem;
		padding: 0 1rem;
		margin-right: 16rem;
		text-transform: uppercase;
		a {
			color: #FFF;
			&:hover {
				color: #f0e4d1;
			}
		}
	}
	.entry-meta {
		position: absolute;
		bottom: 7px;
		right: 0;
		background-color: #248A83;
		text-transform: uppercase;
		padding: 0 1rem;
		a {
			color: #FFF;
			&:hover {
			color: #f0e4d1;
			}
	      }
	}
}

/* About Page Only */

.wpcf7-form {
	.required {
		color: #d99054;
	}
}

/* Shop Page */
.shop-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.product-wrapper {
	display: flex;
	flex-direction: column;
	width: 23%;
	margin-bottom: 2rem;
	border: 1px solid #e1e1e1;
	img {
		height: 250px;
	}
}

.product-content {
	display: flex;
	justify-content: space-around;
	border-top: 5px solid #e1e1e1;
	p {
		margin-bottom: 1rem;
	}
}


.page-id-9 .site-header {
    position: absolute;
    border-bottom: none;
    background: none;
    a, a:visited {
        color: #FFF;
    }
    a:hover {
        color: #f0e4d1;
    }
}

.page-id-9 .logo {
    background-image: url(../../images/inhabitent-logo-tent-white.svg);
}

.page-id-9 .site-content {
    width: 100%;
    flex-direction: column;
    padding-top: 0;
    .content-area {
        width: 1120px;
        margin: 0 auto;
    }
}

.about-hero-wrapper {
	position: relative;
	h1 {
		position: absolute;
		left: 50%;
		top: 50%;
		font-size: 3rem;
	}
}

.about-content-wrapper {
	width: 800px;
	margin: 3rem auto;
	h2 {
		text-align: center;
		font-size: 2.1rem;
	}
}


.latest-wrapper {	
	border: 1px solid #e1e1e1;
	.latest-container {
		border-top: 5px solid #e1e1e1;
	}
}