/*--------------------------------------------------------------
# Journal, Find Us template
--------------------------------------------------------------*/
/* Content area */
.site-content {
	width: 1120px;
	display: flex;
	padding-top: 48px;
	margin: 0 auto;
	font-family: 'merriweather', serif;
	h1, h2 {
		font-family: 'novecentosanswide', sans-serif;
		text-transform: uppercase;
	}
	h2 {
		color: #2f1339;
	}
}

.blog, .page-id-12, .single {
		.content-area {
		width: 83%;
		border-right: 1px solid #e1e1e1;
		padding-right: 5%;
		padding-top: 40px;
		line-height: 1.75rem;
	}
}

/* Journal Page Only */
.blog .entry-header {
	position: relative;
	color: #FFF;
	img {
		height: auto;
		width: 100%;
	}
	.entry-title {
		position: absolute;
		top: 2rem;
		background-color: #248A83;
		font-size: 2rem;
		padding: 1.5rem;
		margin-right: 14rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		a {
			color: #FFF;
			&:hover {
				color: #f0e4d1;
			}
		}
	}
	.entry-meta {
		position: absolute;
		bottom: 8px;
		right: 0;
		background-color: #248A83;
		text-transform: uppercase;
		padding: 0 1rem;
		a {
			color: #FFF;
			&:hover {
			color: #f0e4d1;
			}
	      }
	}
}

.entry-footer {
	font-family: 'novecentosanswide', sans-serif;
	text-transform: uppercase;
	.cat-links {
	margin-right: 2rem;
	}
}

/* single page */
.single .entry-header {
	position: relative;
	color: #FFF;
	h1 {
		color: #FFF;
	} 
	img {
		height: auto;
		width: 100%;
	}
	.entry-title {
		position: absolute;
		top: 2rem;
		background-color: #248A83;
		font-size: 2rem;
		padding: 1.5rem;
		margin-right: 14rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		a {
			color: #FFF;
			&:hover {
				color: #f0e4d1;
			}
		}
	}
	.entry-meta {
		position: absolute;
		bottom: 8px;
		right: 0;
		background-color: #248A83;
		text-transform: uppercase;
		padding: 0 1rem;
		a {
			color: #FFF;
			&:hover {
			color: #f0e4d1;
			}
	      }
	}
}

/* About Page Only */

.wpcf7-form, .comment-form {
	.required {
		color: #d99054;
	}
}

/* Shop Page */
.shop-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.product-wrapper {
	display: flex;
	flex-direction: column;
	width: 23%;
	margin-bottom: 2rem;
	border: 1px solid #e1e1e1;
	img {
		height: 250px;
	}
	a {
		background-color: #e1e1e1;
	}
}

.product-content {
	display: flex;
	justify-content: space-around;
	p {
		margin-bottom: 1rem;
	}
}


.page-id-9 .site-header {
    position: absolute;
    border-bottom: none;
    background: none;
    a, a:visited {
        color: #FFF;
    }
    a:hover {
        color: #f0e4d1;
    }
}

.page-id-9 .logo {
    background-image: url(../../images/inhabitent-logo-tent-white.svg);
}

.page-id-9 .site-content {
    width: 100%;
    flex-direction: column;
    padding-top: 0;
    .content-area {
        width: 1120px;
        margin: 0 auto;
    }
}

.about-hero-wrapper {
	position: relative;
	h1 {
		position: absolute;
		left: 50%;
		top: 50%;
		font-size: 3rem;
	}
}

.about-content-wrapper {
	width: 800px;
	margin: 3rem auto;
	h2 {
		text-align: center;
		font-size: 2.1rem;
	}
}

.adventure-container {
	display: flex;
}

.adventure-wrapper {
	position: relative;
	width: 30%;
	p {
		position: absolute;
		top: 0;
	}
	a {
		position: absolute;
		top: 0;
	}
}
