/*--------------------------------------------------------------
# Journal, Find Us template
--------------------------------------------------------------*/
/* Content area */
.site-content {
	width: 1120px;
	display: flex;
	padding-top: 48px;
	margin: 0 auto;
	.content-area {
		width: 75%;
		border-right: 1px solid #e1e1e1;
		padding-right: 5%;
		padding-top: 40px;
	}
}

/* Journal Page Only */
.blog .entry-header {
	position: relative;
	color: #FFF;
	img {
		height: auto;
		width: 100%;
	}
	.entry-title {
		position: absolute;
		top: 2rem;
		background-color: #248A83;
		font-size: 2rem;
		padding: 0 1rem;
		margin-right: 16rem;
		text-transform: uppercase;
		a {
			color: #FFF;
			&:hover {
				color: #f0e4d1;
			}
		}
	}
	.entry-meta {
		position: absolute;
		bottom: 7px;
		right: 0;
		background-color: #248A83;
		text-transform: uppercase;
		padding: 0 1rem;
		a {
			color: #FFF;
			&:hover {
			color: #f0e4d1;
			}
	      }
	}
}

/* About Page Only */

.wpcf7-form {
	.required {
		color: #d99054;
	}
}

.page-id-12 .entry-content {
	h2, label {
		text-transform: uppercase;
		color: #2f1339;
	}
}


/* Front page */
.site-description {
	display: none;
}

