.single-products .content-area {
    border: none;
    width: 100%;
    padding: 3rem 0;
    padding-bottom: 9.5rem;
}

.single-product-wrapper {
    display: flex;
    justify-content: space-between;
    img {
        width: 48%;
        height: 48%;
    }
    .products-content {
        width: 48%;
        align-self: center;
        display: flex;
        flex-direction: column;
        h2 {
            color: #d99054;
            font-size: 2.4rem;
            letter-spacing: 2px;
            margin: 0;
        }
        .product-price{
            font-size: 1.8rem;
            font-family: 'Novecento Sans Web', sans-serif;
        }
        .media-buttons {
            @include black-button-style;
            i {
                margin-right: 5px;
            }
            &:hover {
                @include green-button-change;
            }
        }
    }
}