/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/* Sidebar widget styling */
.widget-area {
	width: 30%;
	padding-left: 5%;
	padding-top: 35px;
	h2 {
		text-transform: uppercase;
		color: #2f1339;
	}
}

.widget_text {
	i {
		min-width: 1.5rem;
	}
	.widget-location {
		display: flex;
	}
	.days {
		font-family: 'merriweather', serif;
		font-weight: bold;
	}
}

.widget_archive {
	ul {
		margin: 0;
		padding: 0;
	}
}

/* Footer widget styling */
#footer-sidebar {
	display:block;
	height: 250px;
}

#footer-sidebar1 {
	float: left;
	width: 25%;
	margin-left:5px;
	margin-right:5px;
	margin-top: 3rem;
}

#footer-sidebar2 {
	float: left;
	width: 25%;
	margin-right:5px;
	margin-top: 3rem;
}